$primaryColor: #295bac !default;
$primaryLightColor: #BFDBFE !default;
$primaryDarkColor: #295bac !default;
$primaryDarkerColor: #295bac !default;
$primaryTextColor: #ffffff !default;

$highlightBg: #EFF6FF !default;
$highlightTextColor: $primaryDarkerColor !default;
$highlightFocusBg: rgba($primaryColor, .24) !default;

@import '../_variables';
@import './_fonts';
@import '../../../../theme-base/_components';
@import '../_extensions';