html{
    font-size: 0.9rem;
}

body {
    font-family: var(--font-family);
    color: var(--text-color);
    margin: 0px;
    background-color: var(--surface-ground);
}

*:focus{
    box-shadow: none !important;
    outline: none !important;
}